/* App.css */
body {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #7c7575;
}

h1 {
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group {
  margin-bottom: 10px;
 
}

.input-group input {
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #ddd;
  transition: box-shadow 0.3s ease;
}

.input-group input:focus {
  outline: none;
  box-shadow: 0 0 5px #aaa;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #a1c8f1;
  color: rgb(124, 110, 110);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-list li {
  padding: 10px;
  background-color: #f67070;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end;
}
.user-actions button {
  margin-left: 10px;
  
}
.loading{
  background: linear-gradient(to bottom right, magenta, cyan);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.spinner{
  height:80px;
  width: 80px;
  border: 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
